._3x7mXkiYIOg7RWXUm0Ar8q {
	padding: 50px;
	width: 100%;
	height: 100%;
}

._3FmlF9M64ia_n15AL5nVDx {
	display: flex;
}

._3gzx_jZxFbllVpY099S_h6 {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	max-height: 990px;
	overflow: auto;
}

._2lvJM9p_XYnryqsdZf-P7Y {
	color: #e052a0;
	text-transform: uppercase;
	background-color: #162d43;
	padding: 7px;
	font-size: 11px;
	font-weight: bold;
}

.HCTlU6TfWojmFKbhmbdhu {
	padding: 10px;
	color: #aebed0;
}

._3QHUofKLE_LOERdUIr8NOH {
	border-radius: 5px;
	overflow: hidden;
	width: 350px;
	padding: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

._123O4xsftH2k6ccvNpNv29 {
	background-color: #162d43;
	padding: 20px;
}

._3telKAX0HVXW5LJ8-evLDR {
	height: 36px;
	width: 36px;
	font-weight: bold;
	justify-content: center;
	display: inline-flex;
	align-items: center;
	border-radius: 50%;
	background-image: linear-gradient(to right, #e052a0, #f15c41);
}

.pOkbqDTYk5CSY249cYSXJ {
	color: #b3cce6;
	font-size: 18px;
	padding-left: 10px;
	font-weight: bold;
}

.S0HTQ4gEeAOQ5x9OeD-Jq {
	color: #63809c;
	display: flex;
	font-size: 13px;
	margin-top: 2px;
	padding-left: 40px;
}

._1jzAvO6B3_Dtl72qIveYtd {
	margin-right: 5px;
	width: 15px;
	height: 15px;
}

.HTukw4J44AvJtxgJeikZt {
	align-items: center;
	display: flex;
	white-space: nowrap;
	color: #b4cce5;
	content: "·";
	margin: 0 6px;
}

._2mOHqYhzl3ClICrbufnZvd {
	color: #a7bfd7;
	font-size: 15px;
	line-height: 1.4em;
	height: 220px;
	overflow: auto;
	margin-top: 4px;
	padding: 20px;
	position: relative;
	background-color: #162d43;
	transition: background-color 140ms;
}

._3PdtiPJ4bbGabcOOLMlgqB {
	margin-bottom: 8px;
	font-weight: bold;
}

._1WmMe_OPKEArW60FGYihHQ {
	color: #bc4c72;
}

._2Ur5PFxDDu06cT3YoyHp26 {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 1000px;
	height: 800px;
	background-color: #162d43;
	border-radius: 15px;
	overflow: hidden;
	padding: 32px 100px 25px 100px;
	box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
	justify-content: space-evenly;
	margin-top: 150px;
}

._23atV9MIRZfcpNGCSR0uJu {
	background-image: linear-gradient(to right, #e052a0, #f15c41);
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	font-weight: 600;
	white-space: nowrap;
}

._1oLaduKxg6S4qIcu17NJ-8 {
	color: #e25398;
}

._3xXhiyrL1pKIrTSj7tpUyP {
	height: 100px;
}

.c8MAUj-6wyjym_zsKF6H1 {
	font-size: 16px !important;
	transform: translate(0, -28px) scale(1);
}

._2hZHdwlmC2K6kRsBoXPIZ0 {
	width: 250px;
	height: 50px;
	background-color: #ffffffe0;
	text-transform: uppercase;
	border-radius: 30px;
	font-weight: bold;
}

._2e2UCaE4kS40bD-wZIFvnx {
	display: flex;
	width: 100%;
	color: #e4558f;
	background-color: #ebecff;
	padding: 20px;
	border-radius: 15px;
	margin-bottom: 20px;
	align-items: center;
	border: solid 1px #ccc;
	position: relative;
}

._2XsvXU32gCVtp8vVf0cW4Q {
	position: absolute;
	font-size: 18px;
	font-weight: bold;
	transition: all 0.2s;
	touch-action: manipulation;
}

.WJ9v6B7gjgu3xKcjspQCF {
	font-size: 18px;
	font-weight: bold;
	padding: 7px 0;
	color: #2f5e8c;
	width: 100%;
}

._2_yzfE5dJS59vBRhjHEDWB {
	border: solid 3px #e24c4b;
}

._1WbKACxtq2XP84izobGUqB {
	width: 15px;
	height: 15px;
}

._2e2UCaE4kS40bD-wZIFvnx input {
	border: none;
	font-size: 16px;
	outline: 0;
}

._3EaQAycIVNIz8acvTZXvdv {
	font-size: 16px;
	transform: translate(0, -22px) scale(1);
}

._3n3fUudWTHEfeAGK-WFYwF {
	padding: 0 10px;
}

._1JcvvbAaxP_KKz2V89aPMS {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	color: #aebed0;
}

